<div class="content container-fluid">
    <div class="row">
        <div *ngFor="let alert of alerts">
  			<alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
		</div>
        <div class="col-md-6">
            <div class="panel panel-default" *ngIf="this.isReady()">
                <div class="panel-body">
                    <tree (categorieSelected)="selectCategorie($event)" (informationSelected)="selectInformation($event)" [data]="data"></tree>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <button (click)="newCategorie()" type="button" class="btn btn-primary">Nouvelle catégorie</button>
            <button (click)="newInformation()" type="button" class="btn btn-primary">Nouvelle information</button>
            <categorieEditor [categorieSelected]="categorieSelected" [unixList]="unixList" (catSaved)="categorieSaved()"></categorieEditor>
            <informationEditor [informationSelected]="informationSelected" [unixList]="unixList" (infoSaved)="informationSaved()"></informationEditor>
        </div>
    </div>
</div>