<nav class="navbar" [class.top]="navIsTop">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand light title" [class.display1]="navIsTop" href="#">Portail</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
        <ul class="nav navbar-nav">
            <li ><a class="light title" [class.headline]="navIsTop" [href]="tyforgeUrl">TyForge</a></li>
            <li *ngIf="userIsConnected()"><a class="light title" [class.headline]="navIsTop" [href]="accountUrl">Ma page</a></li>
            <li *ngIf="userIsConnected()" class="dropdown" dropdown>
                <a class="light title" [class.headline]="navIsTop" dropdownToggle>
                Mes projets <span class="caret"></span>
                </a>
                <ul *ngIf="this.userHasProjects()" dropdownMenu role="menu"  [style]="colStyle">
                    <li *ngFor="let item of this.userProjects" role="menuitem"><a class="dropdown-item" [href]="this.HTTP + this.hostTyforge + '/project/?group_id=' + item.id">{{ item.name }}</a></li>
                    
                    
                    <!-- <li class="divider dropdown-divider"></li> -->
                </ul>
            </li>
        </ul>
        <ul *ngIf="!userIsConnected()" class="nav navbar-nav navbar-right">
            <li><a class="light title" [class.headline]="navIsTop" [href]="this.getLoginUrl()">Se connecter</a></li>
            <li><a class="light title" [class.headline]="navIsTop" [href]="registerUrl">S'inscrire</a></li>
            <li><a class="light title" [class.headline]="navIsTop" [href]="lostPwUrl">Mot de passe perdu?</a></li>
        </ul>
        <ul *ngIf="userIsConnected()" class="nav navbar-nav navbar-right">
            <li><a class="light title" [class.headline]="navIsTop" [href]="logoutUrl">Se déconnecter ({{ userRealName }})</a></li>
            <li><a class="light title" [class.headline]="navIsTop" [href]="accountUrl">Mon compte</a></li>
        </ul>
        </div>
    </div>
</nav>
<div class="logo" [class.logoTop]="navIsTop"></div>
<div class="block-init" [class.block]="navIsTop"></div>