<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <ul>
                    <li><a>Navigation dans le site</a></li>
                    <li><a>Lien sympa</a></li>
                    <li><a>Autre lien sympa</a></li>
                    <li><a>Le meilleurs pour la fin</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mid">
                <ul>
                    <li><a>Navigation dans le site</a></li>
                    <li><a>Lien sympa</a></li>
                    <li><a>Autre lien sympa</a></li>
                    <li><a>Le meilleurs pour la fin</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <ul>
                    <li><a>Navigation dans le site</a></li>
                    <li><a>Lien sympa</a></li>
                    <li><a>Autre lien sympa</a></li>
                    <li><a>Le meilleurs pour la fin</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>